{% extends model('component') %}

{% define config = {
    name: 'order-suggest'
} %}

{% define data = {
    order: {
        idSalesOrder: required,
        order_reference: required,
        order_created_at: required,
        skus: required
    }
} %}

{% block body %}
    <div class="{{ config.name }}__container" style="background-color: #f6f6f6; border: 1px solid #202020; border-radius: 20px; padding: 0 0.5rem; margin-bottom: 0.5rem">
        <a href="{{ path('customer/order/details', {'id': data.order.idSalesOrder}) }}" style="color: #202020; ">
            <p class="{{ config.name }}__order-headline" style="">
                {{ 'customer-order-search.order-suggest.order_headline' | trans({ '%reference%': data.order.order_reference, '%date%': data.order.order_created_at | formatDateTime }) }}
            </p>
            <p class="{{ config.name }}__order-subheadline text-small">
                {{ 'customer-order-search.order-suggest.order_subheadline' | trans({ '%count%': data.order.skus | length }) }}
            </p>
        </a>
    </div>
{% endblock %}
