{% extends model('component') %}

{% define config = {
    name: 'search-order-results',
    tag: 'ul',
} %}

{% define data = {
    pages: required,
} %}

{% block body %}
    {% for page in data.pages %}
        {% block pageItem %}
            <li class="list__item list__item--highlighted">
                <article class="box grid grid--justify">
                    <div class="col">
                        {% block title %}
                            <h2 class="title--h6">{{ page.order_reference | raw }} ({{ page.order_created_at | formatDateTime }})</h2>
                        {% endblock %}

                        {% block content %}
                            {% if page.content is defined %}
                                <p>{{ page.content | raw }}</p>
                            {% endif %}
                        {% endblock %}
                    </div>
                    <div class="col">
                        {% block button %}
                            <a href="{{ path('customer/order/details', {'id': page.id_sales_order}) }}" class="button">
                                {{ 'global.search.results.view' | trans }} >>
                            </a>
                        {% endblock %}
                    </div>
                </article>
            </li>
        {% endblock %}
    {% else %}
        {% block noResults %}
            <div class="text-center">{{ 'catalog.no-results' | trans }}</div>
        {% endblock %}
    {% endfor %}
{% endblock %}
